<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mentoring.mapper.EmployeeMapper">

  <select id="findOne" resultType="Employee">
    select * from Employee Where empId=#{empId}
  </select>
  <select id="findByUserId" resultType="Employee">
    select * from Employee Where userId=#{userId}
  </select>
   <select id="findAll" resultType="Employee">
	SELECT e.*,u.password, u.userType, d.name departmentName
    FROM Employee e LEFT JOIN user u ON e.userId = u.id LEFT JOIN department d ON e.empId=d.deptEmployeeId
  </select>
</mapper>
