<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mentoring.mapper.GroupBBSMapper">

  <select id="findAll" resultType="GroupBBS">
    select * from GroupBBS
  </select>
  <select id="findOne" resultType="GroupBBS">
    select * from GroupBBS WHERE id=#{id}
  </select>
  <select id="findByMentoId" resultType="GroupBBS">
  	SELECT * FROM GroupBBS WHERE manageMentoId=#{mentoId}
  </select>
  <select id="findByGroupId" resultType="GroupBBS">
  	SELECT * FROM GroupBBS WHERE groupId=#{groupId}
  </select>
  <update id="openChange">
  	UPDATE GroupBBS
  	SET opened=#{opened}
  	WHERE id=#{id}
  </update>
</mapper>
