<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mentoring.mapper.IntroTitleMapper">

  <select id="findAll" resultType="IntroTitle">
    select * from IntroTitle
  </select>
  <select id="findOne" resultType="IntroTitle">
  	SELECT * FROM IntroTitle WHERE id=#{id}
  </select>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id">
  	INSERT IntroTitle(title, manageId)
  	values(#{title}, #{manageId})
  </insert>
  <update id="update">
  	UPDATE IntroTitle
  	<set>
  		<if test="title != null">title=#{title},</if>
  		<if test="manageId != null">manageId=#{manageId}</if>
  	</set>
  	WHERE id=#{id}
  </update>
  <delete id="delete">
  	DELETE FROM IntroTitle WHERE id=#{id}
  </delete>
</mapper>
