<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mentoring.mapper.NoticeBBSPostMapper">

  <select id="findByPartyBBSId" resultType="NoticeBBSPost">
  <bind name="start" value="(pg-1)*sz"/>
    select * from NoticeBBSPost 
    WHERE partyBBSId=#{bd}
    <if test="sb == 1"> AND INSTR(title, #{st}) > 0</if> 
    <if test="sb == 2"> AND INSTR(context, #{st}) > 0</if> 
    <if test="sb == 3"> AND (INSTR(context, #{st}) > 0 OR INSTR(title, #{st}) > 0)</if> 
    Order By id desc
    LIMIT ${start}, ${sz}
  </select>
  <select id="count" resultType="int">
  	SELECT count(*) 
  	FROM NoticeBBSPost 
  	WHERE partyBBSId=#{bd}
  	<if test="sb == 1"> AND INSTR(title, #{st}) > 0</if> 
    <if test="sb == 2"> AND INSTR(context, #{st}) > 0</if> 
    <if test="sb == 3"> AND (INSTR(context, #{st}) > 0 OR INSTR(title, #{st}) > 0)</if> 
  </select>
  <select id="findFiveNoticePost" resultType="NoticeBBSPost">
  	SELECT * FROM NoticeBBSPost WHERE partyBBSId=1 ORDER BY id DESC LIMIT 5
  </select>
  <select id="findByUserId" resultType="NoticeBBSPost">
  	select * from NoticeBBSPost WHERE userId=#{userId}
  </select>
  <select id="findTopByBdOrderByIdDesc" resultType="NoticeBBSPost">
  	SELECT * FROM NoticeBBSPost
  	WHERE partyBBSId=#{bd}
  	ORDER BY id DESC
  	LIMIT 0, 1
  </select>
  <select id="findById" resultType="NoticeBBSPost">
    select * from NoticeBBSPost WHERE id=#{id}
  </select>
  <select id="findLastPost" resultType="NoticeBBSPost">
  	SELECT * FROM NoticeBBSPost Order by id desc limit 1
  </select>
  <update id="updateView">
  	UPDATE NoticeBBSPost
  	SET views=views+1
  	where id=#{id}
  </update>
  <insert id="insertPost" useGeneratedKeys="true" keyProperty="id">
  	INSERT NoticeBBSPost(title, context, views, userId, partyBBSId)
  	VALUES(#{title}, #{context}, #{views}, #{userId}, #{partyBBSId})
  </insert>
  <update id="updatePost">
  	UPDATE NoticeBBSPost
  	<set>
  		<if test="title != null">title=#{title},</if>
  		<if test="context != null">context=#{context},</if>
  	</set>
  	WHERE id=#{id}
  </update>
  <delete id="delete">
  	DELETE FROM NoticeBBSPost WHERE id=#{id}
  </delete>
  <delete id="deleteByUserId">
  	DELETE FROM NoticeBBSPost
  	WHERE userId=#{userId}
  </delete>
</mapper>
