<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mentoring.mapper.NoticeBBSPostMapper">

  <select id="findByPartyBBSId" resultType="NoticeBBSPost">
    select * from NoticeBBSPost WHERE partyBBSId=#{partyBBSId} Order By id desc
  </select>
  <select id="findById" resultType="NoticeBBSPost">
    select * from NoticeBBSPost WHERE id=#{id}
  </select>
  <select id="findLastPost" resultType="NoticeBBSPost">
  	SELECT * FROM NoticeBBSPost Order by id desc limit 1
  </select>
  <update id="updateView">
  	UPDATE NoticeBBSPost
  	SET views=views+1
  	where id=#{id}
  </update>
  <insert id="insertPost" useGeneratedKeys="true" keyProperty="id">
  	INSERT NoticeBBSPost(title, context, views, userId, partyBBSId)
  	VALUES(#{title}, #{context}, #{views}, #{userId}, #{partyBBSId})
  </insert>
  <update id="updatePost">
  	UPDATE NoticeBBSPost
  	<set>
  		<if test="title != null">title=#{title},</if>
  		<if test="context != null">context=#{context},</if>
  	</set>
  	WHERE id=#{id}
  </update>
  <delete id="delete">
  	DELETE FROM NoticeBBSPost WHERE id=#{id}
  </delete>
</mapper>
