<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mentoring.mapper.ProfileMapper">
  <select id="findOne" resultType="Profile">
  	SELECT * FROM Profile WHERE id=#{id}
  </select>
  <select id="findByUserId" resultType="Profile">
  	SELECT * FROM Profile WHERE userId=#{userId}
  </select>
</mapper>