<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mentoring.mapper.ProfessorMapper">

  <select id="findOne" resultType="Professor">
    select * from Professor Where profId=#{profId}
  </select>
  <select id="findByUserId" resultType="Professor">
    select * from Professor Where userId=#{userId}
  </select>
  
    <select id="findAll" resultType="Professor">
     SELECT p.*, d.deptId ,u.password,u.userType, dp.name departmentName,p.profId number
    FROM Professor p LEFT JOIN deptandprof d ON p.profId =d.profId LEFT JOIN user u ON p.userId = u.id LEFT JOIN department dp ON dp.deptId=d.deptId
  </select>
  
     <select id="findList" resultType="UserList">
    SELECT p.userId, p.profId number, p.name,u.userType, dp.name departmentName
    FROM Professor p LEFT JOIN deptandprof d ON p.profId =d.profId LEFT JOIN user u ON p.userId = u.id LEFT JOIN department dp ON dp.deptId=d.deptId
  </select>
  
    <delete id="deleteByUserId">
    DELETE FROM Professor WHERE userId = #{userId}
  </delete>
  
    <insert id="insert" parameterType="Professor">
    INSERT Professor (profId,phoneNumber,name, address,email,officeId,officePhone,userId)
    VALUES (#{profId},#{phoneNumber}, #{name},#{address},#{email}, #{officeId},#{officePhone}, #{userId})
  </insert>
  
  <update id="update">
    UPDATE Professor SET 
       profId = #{profId}, 
      name = #{name}, 
      officeId = #{officeId}, 
      email = #{email},
      address =#{address},
      phoneNumber=#{phoneNumber}
    WHERE userId = #{userId}
  </update>
  
</mapper>
