<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mentoring.mapper.SurveyMapper">
  <select id="findAll" resultType="Survey">
  	SELECT *
  	FROM Survey
  </select>
  <select id="findOne" resultType="Survey">
  	SELECT *
  	FROM Survey
  	WHERE id=#{id}
  </select>
  <update id="update">
  	UPDATE Survey
  	SET
  		surveyType=#{surveyType},
  		surveySite=#{surveySite},
  		manageId=#{manageId}
  	WHERE id=#{id}
  </update>
</mapper>
