<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mentoring.mapper.UserMapper">

  <select id="findWithUserType" resultType="User">
    select * from User Where userType=#{userType}
  </select>
  
  <select id="findOne" resultType="User">
  	SELECT * FROM User WHERE id=#{id}
  </select>
  
    <select id="findLast" resultType="User">
  	SELECT LAST_INSERT_ID()
  </select>
  
   <select id="findAll" resultType="User">
  	SELECT *,s.* FROM User u LEFT JOIN student s ON u.id = s.userId 
  </select>
  
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="User">
    INSERT User (password)
    VALUES ( #{password})
     <selectKey resultType="int" keyProperty="userId" order="AFTER">
        SELECT LAST_INSERT_ID()
    </selectKey>    
  </insert>

	
  
</mapper>
