input.form-control.w100 { width: 100px; }
input.form-control.w200 { width: 200px; }
input.form-control.w300 { width: 300px; }
input.form-control.w400 { width: 400px; }
select.form-control.w100 { width: 100px; }
select.form-control.w200 { width: 200px; }
select.form-control.w300 { width: 300px; }
select.form-control.w400 { width: 400px; }
